html{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#scrollUp
{
position: fixed;
z-index: 2;
bottom : 10px;
right: -50px;
opacity: 0.5;
}

/* Dark CSS */

.dark{
    background-color: rgb(18, 27, 32);
    color: #ffffff;
}
  
.dark button{
    background: #144098;
    color: #fff;
}

 /*header*/
header{
    background-image: url(pictures/bike-2511594_1920.jpg);
    max-width: 100%;
    background-position-y: -300px;
    box-sizing: border-box;
    margin: 0% 0% 0% 0%;
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 1.7em;
}

h1{
    text-align: center;
    padding-top: 30px;
    margin-top: 0px;
    color: white;
}
.h3_header{
    text-align: center;
    color: white;
}

.profile{
    background-image: url(pictures/alexandre\ .png);
    width: 150px;
    height: 150px;
    z-index: 2;
    position: relative;
    border-radius: 100%;
    border: solid 2px yellow;
    position: 0px 0px 0px 0px;
}

.menu_home{
    display: inline-block;
    position: relative;
    right: 10px;   
}

.menu_en{
    display: inline-block;
    position: relative;
}

.menu{
    position: absolute;
    left: 25px;
}
body{
    font-family: 'Lobster', cursive;
}
/* MAIN*/
/* ABOUT ME */
.about_me{
    text-align: center;
    margin: 0px auto 0px auto;
    font-size: 1.25em;
}
 /* diplome */
.diplome{
    float: right;
    background-color: rgba(244, 136, 112,0.5);
    padding-right: 10px;
    padding-left: 10px;
}
.date_diplome{
    text-align: right;
}

body{
    margin: 0;
}
 /* bar of skills */
*{
    
    list-style: none;
    padding: 0;
}

.skills{
    font-family: sans-serif;
    width: 300px;
    margin: 10px ;
    display: inline-block;
}

.skills li{
    margin: 20px 0;
}

.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius:  3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 2px;
    float: left;
    background: #2187e7;
}

.html{
    width: 90%;
}

.css{
    width: 80%;
}

.javascript{
    width: 15%;
}

.bootstrap{
    width: 40%;
}

.wordpress{
    width: 60%;
}

.php{
    width: 5%;
}
 /* Experiance */
.experience{
    margin-left: 60px;
}

.exp_info{
    padding-left: 20px; 
}

/* Projects */
.project{
    margin-left: 60px;
}

.all_card{
    display: inline-block;
    right: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.card{
    border: 0px solid red;
    width: 325px;
    background: rgba(247,121,74,0.9);
    display: inline-block;
    right: 100px;
}

.card:hover{
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.8);
}

.card2{
    border: 0px solid red;
    width: 325px;
    background: rgba(247,121,74,0.9);
    display: inline-block;
    right: 100px;
}

.card2:hover{
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.8);
}

.card3{
    border: 0px solid red;
    width: 325px;
    background: rgba(247,121,74,0.9);
    display: inline-block;
    right: 100px;
}

.card3:hover{
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.8);
}

.card4{
    border: 0px solid red;
    width: 325px;
    background: rgba(247,121,74,0.9);
    display: inline-block;
    right: 100px;
}

.card4:hover{
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.8);
}
/* FOOTER */
/* CONTACT */
.contact{
    text-align: center;
    background-color: rgba(244, 136, 112,0.5);
}

footer{
    text-align: center;
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    padding-top: 10px;
    padding-bottom: 10px;
}